* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "josefin sans";
}

main {
  width: 100vw;
  height: 100vh;
  background: url(/assets/darren-nunis-EEGQ5T62iTI-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top: 40px;
}

.hero-content {
  width: 50vw;
  height: 60vmin;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vw;
}

.title-wrapper {
  position: relative;

  svg {
    //   background-color: pink;
    position: absolute;
    margin: auto;
    height: 100%;

    left: 50%;
    transform: translate(-50%) scaleX(1.3);
  }

  .hero-text {
    font-family: "Julius sans one";
    font-size: 90px;
    letter-spacing: 0.06em;
    line-height: 1.4;
    color: #3f421a;
  }
}

.hero-para {
  font-size: 23px;
  font-family: "josefin sans";
  max-width: 400px;
  margin: 30px auto 60px auto;
}

@media all and (max-width: 767px) {
  .hamburger-parent .hamburger-line {
    background-color: black;
    height: 5px;
    border-radius: 30%;
  }
  .title-wrapper {
    .hero-text {
      font-size: 12vw;
      // background-color: coral;
      width: 90vw !important;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    svg {
      width: 45vw;
      left: 50%;
      z-index: 1;
    }
  }
  .hero-para {
    width: 80vw;
    margin: 5vh !important;
  }
}

#home-CTA {
  background-color: #35552f;
  width: max-content;
  margin: auto;
  text-decoration: none;
  color: whitesmoke;
  padding: 0.6rem 1.2rem;
  font-size: 20px;
  font-family: "josefin sans";
  margin-top: 20px;
}

.landing-wrapper {
  width: 100vw;
  height: 100vh;
}
